## Data Exploration

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("../data/tatoeba-test-v2020-07-28.deu-por.txt", sep="\t", names=['label1', 'label2', 'text1', 'text2'])
df.head(3)

,label1,label2,text1,text2
0,deu,por,"Es ging alles so schnell, dass wir keine Zeit ...",Tudo se passou tão rapidamente que não tivemos...
1,deu,por,"Kinder finden immer einen Grund, Freundschafte...",As crianças sempre encontram um motivo para tr...
2,deu,por,Wir haben gestern Fußball gespielt.,Ontem jogamos futebol.

In [22]:
src_df = df[['label1', 'text1']]
print(src_df.head(3))
tgt_df = df[['label2', 'text2']]
tgt_df.head(3)

  label1                                              text1
0    deu  Es ging alles so schnell, dass wir keine Zeit ...
1    deu  Kinder finden immer einen Grund, Freundschafte...
2    deu                Wir haben gestern Fußball gespielt.

  label2                                              text2
0    por  Tudo se passou tão rapidamente que não tivemos...
1    por  As crianças sempre encontram um motivo para tr...
2    por                             Ontem jogamos futebol.